In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\\Users\\chint\\Desktop\\DATA SCIENCE FILES\\DEEP LEARNING ASSIGNMENTS\\diamond prediction\\diamonds.csv')

In [3]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [4]:
df.shape

(53940, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [6]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [7]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [9]:
categorical = df.select_dtypes(include=['object'])

categorical.head()

       cut color clarity
0    Ideal     E     SI2
1  Premium     E     SI1
2     Good     E     VS1
3  Premium     I     VS2
4     Good     J     SI2

In [10]:
numerical = df.select_dtypes(include=['int64', 'float64'])

numerical.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df_num = pd.DataFrame(scaler.fit_transform(numerical), 
                      columns = numerical.columns)

df_num.head()

      carat     depth     table     price         x         y         z
0 -1.198168 -0.174092 -1.099672 -0.904095 -1.587837 -1.536196 -1.571129
1 -1.240361 -1.360738  1.585529 -0.904095 -1.641325 -1.658774 -1.741175
2 -1.198168 -3.385019  3.375663 -0.903844 -1.498691 -1.457395 -1.741175
3 -1.071587  0.454133  0.242928 -0.902090 -1.364971 -1.317305 -1.287720
4 -1.029394  1.082358  0.242928 -0.901839 -1.240167 -1.212238 -1.117674

In [12]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first', sparse=False)

df_cat = pd.DataFrame(encoder.fit_transform(categorical), 
                      columns=encoder.get_feature_names(categorical.columns))

df_cat.head()

,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [13]:
df_1 = pd.concat([df_num, df_cat], axis=1)

df_1.head()

,carat,depth,table,price,x,y,z,cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,-1.198168,-0.174092,-1.099672,-0.904095,-1.587837,-1.536196,-1.571129,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,-1.240361,-1.360738,1.585529,-0.904095,-1.641325,-1.658774,-1.741175,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,-1.198168,-3.385019,3.375663,-0.903844,-1.498691,-1.457395,-1.741175,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,-1.071587,0.454133,0.242928,-0.902090,-1.364971,-1.317305,-1.287720,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-1.029394,1.082358,0.242928,-0.901839,-1.240167,-1.212238,-1.117674,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [57]:
df_1.shape

(53940, 24)

In [14]:
X=df_1
y=df_1['price']

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, \
                                                    y, \
                                                    test_size = 0.25, \
                                                   random_state = 0)

In [16]:
import tensorflow
import warnings
warnings.filterwarnings('ignore')
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras import optimizers,regularizers

# model1

In [72]:
model=Sequential()
model.add(layers.Dense(256,activation='relu',input_dim=X_train.shape[1]))
model.add(layers.Dense(1))

In [73]:
model.compile(loss='mse', optimizer='sgd')
model.fit(X_train,y_train,epochs=10,validation_data=(X_test,y_test),batch_size=100)

Epoch 1/10
405/405 [==============================] - 1s 945us/step - loss: 0.0508 - val_loss: 0.0112
Epoch 2/10
405/405 [==============================] - 0s 609us/step - loss: 0.0079 - val_loss: 0.0062
Epoch 3/10
405/405 [==============================] - 0s 642us/step - loss: 0.0049 - val_loss: 0.0042
Epoch 4/10
405/405 [==============================] - 0s 661us/step - loss: 0.0036 - val_loss: 0.0033
Epoch 5/10
405/405 [==============================] - 0s 726us/step - loss: 0.0029 - val_loss: 0.0027
Epoch 6/10
405/405 [==============================] - 0s 665us/step - loss: 0.0024 - val_loss: 0.0023
Epoch 7/10
405/405 [==============================] - 0s 664us/step - loss: 0.0021 - val_loss: 0.0020
Epoch 8/10
405/405 [==============================] - 0s 728us/step - loss: 0.0018 - val_loss: 0.0018
Epoch 9/10
405/405 [==============================] - 0s 643us/step - loss: 0.0016 - val_loss: 0.0016
Epoch 10/10
405/405 [==============================] - 0s 645us/step - loss: 0.0015 - val_loss: 0.0015

In [74]:
y_pred=model.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,k)

0.9991154783608268

# model2

In [69]:
model2=Sequential()
model2.add(layers.Dense(256,activation='LeakyReLU',input_shape=(24,)))
model2.add(layers.Dropout(0.5))
model2.add(layers.Dense(128,activation='LeakyReLU'))
model2.add(layers.Dropout(0.5))
model2.add(layers.Dense(64,activation='LeakyReLU'))
model2.add(layers.Dropout(0.5))
model2.add(layers.Dense(1))

In [70]:
model2.compile(loss='mse', optimizer='adam')
model2.fit(X_train,y_train,epochs=10,validation_data=(X_test,y_test),batch_size=100)

Epoch 1/10
405/405 [==============================] - 1s 2ms/step - loss: 0.1228 - val_loss: 0.0438
Epoch 2/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0576 - val_loss: 0.0068
Epoch 3/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0483 - val_loss: 0.0059
Epoch 4/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0430 - val_loss: 0.0015
Epoch 5/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0385 - val_loss: 0.0022
Epoch 6/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0372 - val_loss: 0.0074
Epoch 7/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0374 - val_loss: 0.0013
Epoch 8/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0375 - val_loss: 6.6937e-04
Epoch 9/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0338 - val_loss: 0.0052
Epoch 10/10
405/405 [==============================] - 1s 2ms/step - loss: 0.0334 - val_loss: 0.0012

In [71]:
y_pred=model2.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,k)

0.9991154783608268

# model3

In [66]:
model3=Sequential()
model3.add(layers.Dense(256,activation='elu',input_shape=(24,)))
model3.add(layers.Dropout(0.5))
model3.add(layers.Dense(155,activation='elu'))
model3.add(layers.Dropout(0.5))
model3.add(layers.Dense(128,activation='elu'))
model3.add(layers.Dropout(0.5))
model3.add(layers.Dense(100,activation='elu'))
model3.add(layers.Dropout(0.5))
model3.add(layers.Dense(64,activation='elu'))
model3.add(layers.Dropout(0.5))
model3.add(layers.Dense(1,activation='linear'))

In [67]:
model3.compile(loss='mse', optimizer='adagrad')
model3.fit(X_train,y_train,epochs=10,validation_data=(X_test,y_test),batch_size=100)

Epoch 1/10
405/405 [==============================] - 2s 3ms/step - loss: 1.2614 - val_loss: 0.1979
Epoch 2/10
405/405 [==============================] - 1s 3ms/step - loss: 0.8780 - val_loss: 0.1669
Epoch 3/10
405/405 [==============================] - 1s 3ms/step - loss: 0.7664 - val_loss: 0.1470
Epoch 4/10
405/405 [==============================] - 1s 3ms/step - loss: 0.6782 - val_loss: 0.1301
Epoch 5/10
405/405 [==============================] - 1s 3ms/step - loss: 0.6200 - val_loss: 0.1174
Epoch 6/10
405/405 [==============================] - 1s 3ms/step - loss: 0.5759 - val_loss: 0.1150
Epoch 7/10
405/405 [==============================] - 1s 3ms/step - loss: 0.5457 - val_loss: 0.1045
Epoch 8/10
405/405 [==============================] - 2s 4ms/step - loss: 0.5081 - val_loss: 0.0957
Epoch 9/10
405/405 [==============================] - 1s 3ms/step - loss: 0.4944 - val_loss: 0.0888
Epoch 10/10
405/405 [==============================] - 1s 3ms/step - loss: 0.4658 - val_loss: 0.0872

In [68]:
y_pred=model3.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,k)

0.9991154783608268

# model4

In [62]:
model4=Sequential()
model4.add(layers.Dense(256,activation='softplus',input_shape=(24,)))
model4.add(layers.Dropout(0.5))
model4.add(layers.Dense(155,activation='softplus'))
model4.add(layers.Dropout(0.5))
model4.add(layers.Dense(128,activation='softplus'))
model4.add(layers.Dropout(0.5))
model4.add(layers.Dense(100,activation='softplus'))
model4.add(layers.Dropout(0.5))
model4.add(layers.Dense(64,activation='softplus'))
model4.add(layers.Dropout(0.5))
model4.add(layers.Dense(32,activation='softplus'))
model4.add(layers.Dropout(0.5))
model4.add(layers.Dense(16,activation='softplus'))
model4.add(layers.Dropout(0.5))
model4.add(layers.Dense(1,activation='linear'))

In [63]:
model4.compile(loss='mse', optimizer='adagrad')
model4.fit(X_train,y_train,epochs=10,validation_data=(X_test,y_test),batch_size=100)

Epoch 1/10
405/405 [==============================] - 2s 4ms/step - loss: 2.8953 - val_loss: 1.0544
Epoch 2/10
405/405 [==============================] - 2s 4ms/step - loss: 1.8175 - val_loss: 1.0253
Epoch 3/10
405/405 [==============================] - 1s 4ms/step - loss: 1.5700 - val_loss: 1.0132
Epoch 4/10
405/405 [==============================] - 2s 4ms/step - loss: 1.4420 - val_loss: 1.0084
Epoch 5/10
405/405 [==============================] - 2s 4ms/step - loss: 1.3658 - val_loss: 1.0048
Epoch 6/10
405/405 [==============================] - 2s 4ms/step - loss: 1.3233 - val_loss: 1.0034
Epoch 7/10
405/405 [==============================] - 2s 4ms/step - loss: 1.2870 - val_loss: 1.0020
Epoch 8/10
405/405 [==============================] - 2s 4ms/step - loss: 1.2524 - val_loss: 1.0011
Epoch 9/10
405/405 [==============================] - 2s 4ms/step - loss: 1.2285 - val_loss: 1.0006
Epoch 10/10
405/405 [==============================] - 2s 4ms/step - loss: 1.2033 - val_loss: 1.0003

In [64]:
y_pred=model4.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,k)

0.9991154783608268

# model5

In [58]:
model5=Sequential()
model5.add(layers.Dense(256,activation='tanh',input_shape=(24,)))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(155,activation='tanh'))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(128,activation='tanh'))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(100,activation='tanh'))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(64,activation='tanh'))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(32,activation='tanh'))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(16,activation='tanh'))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(10,activation='tanh'))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(5,activation='tanh'))
model5.add(layers.Dropout(0.5))
model5.add(layers.Dense(1,activation='linear'))

In [60]:
model5.compile(loss='mse', optimizer='adadelta')
model5.fit(X_train,y_train,epochs=10,validation_data=(X_test,y_test),batch_size=100)

Epoch 1/10
405/405 [==============================] - 2s 4ms/step - loss: 1.6199 - val_loss: 1.1053
Epoch 2/10
405/405 [==============================] - 2s 5ms/step - loss: 1.6102 - val_loss: 1.0495
Epoch 3/10
405/405 [==============================] - 2s 5ms/step - loss: 1.6229 - val_loss: 0.9982
Epoch 4/10
405/405 [==============================] - 3s 6ms/step - loss: 1.6109 - val_loss: 0.9499
Epoch 5/10
405/405 [==============================] - 2s 5ms/step - loss: 1.5888 - val_loss: 0.9015
Epoch 6/10
405/405 [==============================] - 2s 5ms/step - loss: 1.5932 - val_loss: 0.8581
Epoch 7/10
405/405 [==============================] - 2s 6ms/step - loss: 1.5749 - val_loss: 0.8163
Epoch 8/10
405/405 [==============================] - 2s 4ms/step - loss: 1.5590 - val_loss: 0.7773
Epoch 9/10
405/405 [==============================] - 2s 4ms/step - loss: 1.5551 - val_loss: 0.7420
Epoch 10/10
405/405 [==============================] - 2s 4ms/step - loss: 1.5391 - val_loss: 0.7070

In [61]:
y_pred=model5.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,k)

0.9991154783608268

# observation: model3 performs better as the loss is reducing gradually when compared to other models.